/* styles.css */
/* 
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city-details {
    margin-bottom: 20px;
}

.place-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
}

.place-item img {
    max-width: 100%;
    height: 500px ;
    border-radius: 5px;
    margin: 10px auto; 
    display: block; 
    
} */


